<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectifs-:" data-toc-modified-id="Objectifs-:-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectifs :</a></span></li><li><span><a href="#Recheche-de-stations-HS" data-toc-modified-id="Recheche-de-stations-HS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Recheche de stations HS</a></span></li></ul></div>

In [6]:
import pandas as pd

from vcub_keeper.reader.reader import *

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Objectifs :

- Recherche de stations HS
- Regarder en amonts temporellement des stations HS si il y a une activité.
- Faire une fonction graphique afin d'observer l'activité d'une stations dans le temps.

## Recheche de stations HS

In [49]:
activite = read_activity_vcub()

Certaines stations sont toujours HS dans le jeu de données

In [50]:
station_always_hs = activite

In [53]:
grp = activite.groupby('station_id', as_index=False)['state'].nunique()

In [56]:
grp[grp.state == 1]

     station_id  state
34           35      1
92           93      1
136         137      1

In [57]:
activite[activite.station_id == 137]['state'].unique()

[0]
Categories (1, int64): [0]

Les stations `35`, `93` & `137` sont toujours HS dans ce jeu de données.

In [58]:
activite[activite.state == 0].tail(15)

,gid,station_id,type,name,state,available_stand,available_bike,date
2146463,176,174,VLS,Darwin,0,19,1,2017-08-25 06:59:02
2146637,176,174,VLS,Darwin,0,19,1,2017-08-25 07:14:05
2146811,176,174,VLS,Darwin,0,19,1,2017-08-25 07:19:04
2164907,176,174,VLS,Darwin,0,0,20,2017-08-25 15:59:03
2187179,176,174,VLS,Darwin,0,20,0,2017-08-26 02:39:03
2345867,176,174,VLS,Darwin,0,20,0,2017-08-29 06:39:04
2532569,176,174,VLS,Darwin,0,19,1,2017-09-02 00:04:05
2549099,176,174,VLS,Darwin,0,19,1,2017-09-02 07:59:04
2699609,176,174,VLS,Darwin,0,18,2,2017-09-05 08:04:04
2938859,176,174,VLS,Darwin,0,20,0,2017-09-10 02:44:03
3348107,176,174,VLS,Darwin,0,17,3,2017-09-18 06:54:04
3447287,176,174,VLS,Darwin,0,11,9,2017-09-20 08:04:03
3632249,176,174,VLS,Darwin,0,20,0,2017-09-24 00:39:04
3692627,176,174,VLS,Darwin,0,20,0,2017-09-25 05:34:04
3731603,176,174,VLS,Darwin,0,20,0,2017-09-26 00:14:04

In [59]:
station_id = 25
date = "2017-09-26 15:54:04"
activite[(activite.station_id == station_id) & (activite.date <= date)].tail(20000)

,gid,station_id,type,name,state,available_stand,available_bike,date
281904,95,25,VLS,Rue F. de Sourdis,1,14,0,2017-07-14 18:29:03
282078,95,25,VLS,Rue F. de Sourdis,1,14,0,2017-07-14 18:34:04
282252,95,25,VLS,Rue F. de Sourdis,1,14,0,2017-07-14 18:39:05
282426,95,25,VLS,Rue F. de Sourdis,1,14,0,2017-07-14 18:44:05
282600,95,25,VLS,Rue F. de Sourdis,1,13,1,2017-07-14 18:49:04
...,...,...,...,...,...,...,...,...
3761034,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-09-26 14:39:02
3761208,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-09-26 14:44:05
3761382,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-09-26 14:49:05
3761556,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-09-26 14:54:04
3761730,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-09-26 14:59:04

In [60]:
activite[(activite.station_id == id_station) & (activite.date <= date) & (activite.state == 1)].tail()

,gid,station_id,type,name,state,available_stand,available_bike,date
2443158,95,25,VLS,Rue F. de Sourdis,1,3,10,2017-08-31 05:19:04
2443332,95,25,VLS,Rue F. de Sourdis,1,3,10,2017-08-31 05:24:05
2443506,95,25,VLS,Rue F. de Sourdis,1,12,1,2017-08-31 05:29:04
2443680,95,25,VLS,Rue F. de Sourdis,1,13,1,2017-08-31 05:34:04
2443854,95,25,VLS,Rue F. de Sourdis,1,14,0,2017-08-31 05:39:04

In [61]:
date_2 = "2017-08-31 06:39:04"
activite[(activite.station_id == id_station) & (activite.date <= date_2)].tail(25)

,gid,station_id,type,name,state,available_stand,available_bike,date
2441766,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 04:39:04
2441940,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 04:44:04
2442114,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 04:49:03
2442288,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 04:54:06
2442462,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 04:59:03
2442636,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 05:04:05
2442810,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 05:09:04
2442984,95,25,VLS,Rue F. de Sourdis,1,4,9,2017-08-31 05:14:04
2443158,95,25,VLS,Rue F. de Sourdis,1,3,10,2017-08-31 05:19:04
2443332,95,25,VLS,Rue F. de Sourdis,1,3,10,2017-08-31 05:24:05
2443506,95,25,VLS,Rue F. de Sourdis,1,12,1,2017-08-31 05:29:04
2443680,95,25,VLS,Rue F. de Sourdis,1,13,1,2017-08-31 05:34:04
2443854,95,25,VLS,Rue F. de Sourdis,1,14,0,2017-08-31 05:39:04
2444028,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 05:44:04
2444202,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 05:49:03
2444376,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 05:54:05
2444550,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 05:59:04
2444724,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:04:05
2444898,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:09:04
2445072,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:14:04
2445246,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:19:04
2445420,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:24:04
2445594,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:29:04
2445768,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:34:04
2445942,95,25,VLS,Rue F. de Sourdis,0,14,0,2017-08-31 06:39:04

In [62]:
activite[(activite.station_id == id_station)].head()

,gid,station_id,type,name,state,available_stand,available_bike,date
24,95,25,VLS,Rue F. de Sourdis,1,12,2,2017-07-09 00:03:04
198,95,25,VLS,Rue F. de Sourdis,1,12,2,2017-07-09 00:04:04
372,95,25,VLS,Rue F. de Sourdis,1,12,2,2017-07-09 00:09:04
546,95,25,VLS,Rue F. de Sourdis,1,11,3,2017-07-09 00:14:03
720,95,25,VLS,Rue F. de Sourdis,1,11,3,2017-07-09 00:19:05

In [ ]:
activite['transactions'] =