In [36]:
import pandas as pd
import json

from vcub_keeper.production.data import transform_json_api_bdx_station_data_to_df


from vcub_keeper.config import ROOT_TESTS_DATA

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Objectifs

- Préparation du test pour la fonction `transform_json_api_bdx_station_data_to_df()`
- Export des données de tests

In [24]:
# station_id='106'
# start_date='2023-03-10'
# stop_date='2023-03-11'


# station_json = get_data_from_api_bdx_by_station(station_id=station_id, 
#                                                 start_date=start_date,
#                                                 stop_date=stop_date)

# Loading data from data test 
with open(ROOT_TESTS_DATA + 'data_test_api_from_bdx.json') as f:
    station_json_loaded = json.load(f)

In [25]:
station_df_from_json = transform_json_api_bdx_station_data_to_df(station_json_loaded)

In [26]:
station_df_from_json.head()

,station_id,date,available_stands,available_bikes,status,transactions_in,transactions_out,transactions_all
0,106,2023-03-10 01:10:00+01:00,32,8,1,0.0,0.0,0.0
1,106,2023-03-10 01:20:00+01:00,32,8,1,0.0,0.0,0.0
2,106,2023-03-10 01:30:00+01:00,32,8,1,0.0,0.0,0.0
3,106,2023-03-10 01:40:00+01:00,33,8,1,0.0,1.0,0.0
4,106,2023-03-10 01:50:00+01:00,33,7,1,0.0,0.0,1.0

### Export des données de test

In [7]:
station_df_from_json.to_csv(ROOT_TESTS_DATA + 'data_test_transf_json_to_df.csv', encoding='utf8', index=False)

#### Lecture des données de test

In [28]:
station_df_from_csv = pd.read_csv(ROOT_TESTS_DATA + 'data_test_transf_json_to_df.csv',
                                  encoding='utf8',
                                  parse_dates=['date'])

In [29]:
station_df_from_csv.head()

,station_id,date,available_stands,available_bikes,status,transactions_in,transactions_out,transactions_all
0,106,2023-03-10 01:10:00+01:00,32,8,1,0.0,0.0,0.0
1,106,2023-03-10 01:20:00+01:00,32,8,1,0.0,0.0,0.0
2,106,2023-03-10 01:30:00+01:00,32,8,1,0.0,0.0,0.0
3,106,2023-03-10 01:40:00+01:00,33,8,1,0.0,1.0,0.0
4,106,2023-03-10 01:50:00+01:00,33,7,1,0.0,0.0,1.0

### Compare DataFrames

In [35]:
assert len(station_df_from_json.compare(station_df_from_csv)) == 0